@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  height: 100%;
  position: relative;
}

.app {
  min-height: -webkit-fill-available;
}
